# =========================
# Backend (Java / Maven)
# =========================
# Ignorar pastas de compilação
target/
*.class
*.jar
*.war

.claude

# Ignorar ficheiros temporários do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# =========================
# Frontend e Scripts (Node.js / NPM)
# =========================
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.*

# =========================
# IDEs (VS Code, Eclipse, IntelliJ)
# =========================
# Ignorar configurações do VS Code
.vscode/
.classpath
.project
.settings/
.factorypath
*.code-workspace
.idea/
*.iml

# =========================
# Segurança e Variáveis de Ambiente
# =========================
.env
.env.local
.env.*
*.log

# Ocultar o script de arranque, caso tenha colocado a sua palavra-passe lá dentro!
iniciar.bat

# =========================
# Ficheiros do Sistema Operativo
# =========================
.DS_Store
Thumbs.db