# Configurações da Base de Dados MySQL
DB_URL=jdbc:mysql://localhost:3306/viver_mais
DB_USER=root
DB_PASS=SENHA_DO_MYSQL_DO_USUARIO

# Segurança JWT
JWT_SECRET=SENHA_SUPER_SECRETA_QUE_NINGUEM_DEVE_SABER